@media  (max-width: 1000px) or (orientation:portrait) {

    html {
        background-color: #191D0A;
    }

    html, body {
        color: white;
        height: 100%;
        margin: 0;
        font-family: 'Lexend', sans-serif;

    }

    body {
        background: url('../public/back.svg') no-repeat center center fixed;
        /*background-color: #191D0A;*/

    }

    .main_mobile {
        background-size: auto;
        height: 100vh;

    }
    .popup_menu{
        padding-top: 3rem;
        position: fixed;
        z-index: 200;
        height: 95vh;
        width: 100%;
        display: flex;
        margin-top: 11rem;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        background-color: #191D0A;
    }
    .popup_menu_element{
        display: flex;
        width: 95%;
        height: 8rem;
        border: 4px solid #F97247;
        border-radius: 96px;
        justify-items: center;
        align-items: center;
        margin-bottom: 2.5rem;
        font-size: 3rem;
        padding-left: 2rem;
        box-sizing: border-box;

    }
    .buttons_on_popup{
        display: flex;
        width: 100%;
        border-radius: 96px;
        justify-items: center;
        align-items: center;
        margin-bottom: 2.5rem;
        font-size: 3rem;
        justify-content: center;
        flex-direction: column;
        padding-top: 6rem;
    }

    .blur {
        height: 100vh;
        margin: 0;
        backdrop-filter: blur(100px);
        display: grid;
        grid-template-rows: 1fr 9fr 1fr;
        justify-items: center;

    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        width: 100%;
        height: 100vh;
    }

    .left_section {

        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .left_title {
        font-size: 7rem;
    }

    .partner_button {
        font-size: x-large;
        display: grid;
        border: 2px solid #F97247;
        border-radius: 48px;
        background-color: #F97247;
        height: 2.5rem;
        width: 10rem;
        justify-items: center;
        text-align: center;
        align-items: center;

    }

    .sometext {
        opacity: 60%;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .right_section {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }

    .blub_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    .blub_window {
        display: flex;
        height: 20rem;
        width: 17rem;
        border: 3px solid #F97247;
        border-radius: 50px;
        margin-top: 1.5rem;
        background-color: #FFFFFF1F;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .blub_element {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 1rem;
        background-color: #311212;
        border-radius: 60px;
        padding: 2rem 2rem 1rem 4rem;

    }

    .middle_section {

    }

    .movingObject {
        position: absolute;
    }

    .coins {
        display: grid;
        grid-template: "j k l";
        justify-content: center;
        overflow: hidden;
    }

    .coins1 {
        display: grid;
        grid-area: j;
        flex-direction: column;
        overflow: hidden;
        height: 100vh;
        opacity: 50%;
        width: 12ch;

    }

    .coins2 {
        display: grid;
        grid-area: k;
        flex-direction: column;
        overflow: hidden;
        height: 100vh;
        width: 12ch;
    }

    .coins3 {
        display: grid;
        grid-area: l;
        flex-direction: column;
        overflow: hidden;
        height: 100vh;
        width: 12ch;
        opacity: 50%;
    }

    .blub_element_first {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 1rem;
        background-color: #F97247;
        border-radius: 60px;
        padding: 2rem 2rem 1rem 4rem;

    }

    .blub_date {
        padding-top: 1rem;
        padding-bottom: 0rem;
        color: #FFFFFF99;
    }

    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        height: 10rem;
        border: 4px solid #F97247;
        border-radius: 96px;
        background-color: #191D0A;
        z-index: 100;
        position: absolute;

    }

    .left_section {
        display: grid;

    }

    .footer-container {
        width: 100%;
        height: 10vh;
        position: relative;
        bottom: 0;
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        border: 4px solid #F97247;
        border-bottom: 0px;
        border-radius: 64px 64px 0px 0px;
        background-color: #311212;
        z-index: 100;
        opacity: 100%;
    }

    .menu {
        justify-content: space-evenly;
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .menu, span {
        display: grid;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2em;
    }
    #lang_value{
        visibility: hidden;
    }


    .lang_icon {
        display: grid;
    }

    .lang_value {
        display: grid;
        justify-self: start;
    }

    .footer-container {
        display: grid;
        grid-template: ". . . . . ."
                   "a . . . . f";
    }

    .info_pages {
        grid-area: a;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
    }

    .social_media_area {
        display: grid;
        column-gap: 2%;
        row-gap: 10%;
        grid-area: f;
        grid-template:
                "s s s s s s"
                "t l y o g v";

    }

    .oursocialmedia {
        display: grid;
        grid-area: s;
        text-align: right;
    }

    .twitter_icon {
        display: grid;
        grid-area: t;
    }

    .linkedin_icon {
        display: grid;
        grid-area: l;
    }

    .youtube_icon {
        display: grid;
        grid-area: y;
    }

    .tiktok_icon {
        display: grid;
        grid-area: o;
    }

    .telegram_icon {
        display: grid;
        grid-area: g;
    }

    .vk_icon {
        display: grid;
        grid-area: v;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .btn-4 {
        border: 1px solid;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn-4 span {
        z-index: 20;
    }

    .btn-4:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    .btn-4:hover:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btn {
        display: flex;
        flex-direction: row;
        border: 2px solid #EBF29D;
        border-radius: 100px;
        height: 7rem;
        width: 7rem;
        justify-items: center;
        text-align: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .btn1 {
        display: flex;
        flex-direction: row;
        border-radius: 24px;
        height: 2.5rem;
        width: 6rem;
        justify-items: center;
        text-align: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #F97247;
    }

    .menu_button{
        display: flex;
        flex-direction: row;
        border-radius: 100px;
        height: 7rem;
        width: 7rem;
        justify-items: center;
        text-align: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .login_button{
        display: flex;
        width: 95%;
        height: 8rem;
        border: 4px solid #EBF29D;
        background-color: #311212;
        border-radius: 96px;
        justify-items: center;
        align-items: center;
        margin-bottom: 2.5rem;
        font-size: 3rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }
    .signup_button{
        display: flex;
        width: 95%;
        height: 8rem;
        border: 4px solid #F97247;
        background-color: #F97247;
        border-radius: 96px;
        justify-items: center;
        align-items: center;
        margin-bottom: 2.5rem;
        font-size: 3rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }

}


